 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/1000000181.jpg');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 179px auto 60px;
}