 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/278.GIF');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 3358px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  width: 668px;
  margin: 152px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 464px;
  min-height: 370px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  width: 372px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 226px;
  height: 300px;
  margin: 12px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 226px;
  height: 300px;
  margin: -300px auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 464px;
  min-height: 636px;
  height: auto;
  margin: 33px auto 0;
}

.u-section-1 .u-text-3 {
  width: 418px;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  height: 522px;
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-3 {
  width: 531px;
  min-height: 387px;
  height: auto;
  margin: 49px auto 0;
}

.u-section-1 .u-text-4 {
  width: 531px;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  width: 400px;
  height: 300px;
  margin: 1px auto 0;
}

.u-section-1 .u-group-elements-4 {
  width: 531px;
  min-height: 427px;
  height: auto;
  margin: 42px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-image-5 {
  width: 226px;
  height: 312px;
  margin: 0 auto 0 27px;
}

.u-section-1 .u-image-6 {
  width: 218px;
  height: 312px;
  margin: -312px 48px 0 auto;
}

.u-section-1 .u-group-elements-5 {
  width: 531px;
  min-height: 534px;
  height: auto;
  margin: 58px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-image-7 {
  width: 258px;
  height: 390px;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-6 {
  width: 563px;
  min-height: 473px;
  height: auto;
  margin: 73px 273px 58px auto;
}

.u-section-1 .u-text-7 {
  width: 563px;
  margin: 0 1px 0 0;
}

.u-section-1 .u-image-8 {
  width: 225px;
  height: 300px;
  margin: 0 auto 0 152px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3266px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-group-elements-6 {
    margin-top: 58px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3401px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 20px;
    margin-left: 118px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 635px;
    margin-top: 94px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 50px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 94px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-top: 73px;
  }

  .u-section-1 .u-group-elements-6 {
    margin-top: 57px;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3341px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 48px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 363px;
    margin-top: 65px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 597px;
    margin-top: 65px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 378px;
    margin-top: 75px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 389px;
    margin-top: 102px;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 518px;
    margin-top: 50px;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 454px;
    margin-top: 65px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3516px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 346px;
    min-height: 364px;
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 159px;
    height: 287px;
    margin-top: 21px;
  }

  .u-section-1 .u-image-2 {
    width: 176px;
    height: 277px;
    margin-top: -272px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -27px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 415px;
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-elements-4 {
    min-height: 466px;
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 31px;
    margin-left: 50px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 569px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-elements-6 {
    min-height: 583px;
    margin-top: 72px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    margin-top: 1px;
    margin-left: 56px;
  }
}