 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/278.GIF");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 3263px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  width: 668px;
  margin: 57px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 464px;
  min-height: 370px;
  height: auto;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  width: 372px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 226px;
  height: 300px;
  margin: 12px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 226px;
  height: 300px;
  margin: -300px auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 464px;
  min-height: 636px;
  height: auto;
  margin: 33px auto 0;
}

.u-section-1 .u-text-3 {
  width: 418px;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  height: 522px;
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-3 {
  width: 531px;
  min-height: 387px;
  height: auto;
  margin: 49px auto 0;
}

.u-section-1 .u-text-4 {
  width: 531px;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  width: 400px;
  height: 300px;
  margin: 1px auto 0;
}

.u-section-1 .u-group-elements-4 {
  width: 531px;
  min-height: 427px;
  height: auto;
  margin: 42px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-image-5 {
  width: 226px;
  height: 312px;
  margin: 0 auto 0 27px;
}

.u-section-1 .u-image-6 {
  width: 218px;
  height: 312px;
  margin: -312px 48px 0 auto;
}

.u-section-1 .u-group-elements-5 {
  width: 531px;
  min-height: 534px;
  height: auto;
  margin: 58px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-image-7 {
  width: 258px;
  height: 390px;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-6 {
  width: 563px;
  min-height: 473px;
  height: auto;
  margin: 73px 273px 58px auto;
}

.u-section-1 .u-text-7 {
  width: 563px;
  margin: 0 1px 0 0;
}

.u-section-1 .u-image-8 {
  width: 225px;
  height: 300px;
  margin: 0 auto 0 152px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2691px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2061px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 864px;
    margin-right: -17px;
    margin-left: 69px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 939px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: -856px;
  }

  .u-section-1 .u-group-elements-6 {
    margin-right: 157px;
    margin-bottom: -1087px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 151px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: -855px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-top: 723px;
  }

  .u-section-1 .u-group-elements-6 {
    width: 540px;
    margin-right: 0;
    margin-bottom: -1090px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 159px;
    height: 287px;
    margin-top: 25px;
    margin-right: 67px;
  }

  .u-section-1 .u-image-2 {
    width: 176px;
    height: 277px;
    margin-top: -277px;
    margin-left: 50px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
    margin-top: 1097px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 340px;
    margin-top: -1014px;
  }

  .u-section-1 .u-group-elements-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 31px;
    margin-left: 50px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-5 {
    width: 340px;
    margin-top: 58px;
  }

  .u-section-1 .u-group-elements-6 {
    width: 340px;
    margin-bottom: -289px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 50px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 1px;
    margin-left: 56px;
  }
}