.u-section-1 .u-sheet-1 {
  min-height: 1437px;
}

.u-section-1 .u-text-1 {
  margin: 138px 394px 0 126px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -927px auto 0 456px;
  padding: 10px 13px 10px 11px;
}

.u-section-1 .u-image-1 {
  width: 93px;
  height: 124px;
  margin: -275px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 294px;
    margin-left: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -919px;
    margin-left: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1006px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1063px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-text-1 {
  margin: 41px 270px 58px 118px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 170px;
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 110px;
  }
}