 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/305-11.gif");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 2065px;
}

.u-section-1 .u-group-elements-1 {
  width: 620px;
  min-height: 1612px;
  height: auto;
  margin: 126px auto 60px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -1333px auto 0;
  padding: 10px 13px 10px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1703px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1946px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 175px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-left: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1383px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2128px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 1946px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1601px;
  }
}