 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/305.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 1771px;
}

.u-section-1 .u-text-1 {
  width: 725px;
  margin: 131px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0 5px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2231px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 96px;
  }
}