 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/305-11.gif");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 1836px;
}

.u-section-1 .u-group-elements-1 {
  width: 620px;
  min-height: 1612px;
  height: auto;
  margin: 129px auto 60px;
}

.u-section-1 .u-text-1 {
  width: 620px;
  margin: -4px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -1332px auto 0 246px;
  padding: 10px 13px 10px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1171px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }
}