 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/201.GIF');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 2674px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  line-height: 1.12;
  font-style: normal;
  font-weight: 400;
  margin: 83px auto 0;
  padding: 5px 12px 7px 11px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  line-height: 1.12;
  font-style: normal;
  font-weight: 400;
  margin: 29px auto 0;
  padding: 5px 12px 7px 11px;
}

.u-section-1 .u-image-1 {
  width: 336px;
  height: 556px;
  margin: 67px auto 0;
}

.u-section-1 .u-image-2 {
  width: 336px;
  height: 495px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  margin: 0 359px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 336px;
  height: 272px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-4 {
  width: 336px;
  height: 336px;
  margin: 28px auto 0;
}

.u-section-1 .u-image-5 {
  width: 212px;
  height: 452px;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1689px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 107px;
  }
}