 .u-section-1 {
  background-position: 0px 0px;
  background-repeat: repeat;
  background-image: url("images/031.gif");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 387px;
  margin: 163px auto 0 235px;
}

.u-section-1 .u-text-1 {
  line-height: 0.85;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(110,0,255,1);
  margin: -372px 302px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 202px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 173px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -354px;
    margin-right: 92px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-text-1 {
    margin: -368px 2px 56px 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 639px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 268px;
    margin: -762px auto 60px;
  }
}