 .u-section-1 {
  background-position: 0px 0px;
  background-repeat: repeat;
  background-image: url("images/03b1.gif");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 602px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 387px;
  margin: 2px auto 0 131px;
}

.u-section-1 .u-text-1 {
  line-height: 0.85;
  font-size: 1.125rem;
  margin: -372px 451px 60px 421px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 351px;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -3px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -369px;
    margin-right: 154px;
    margin-left: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 64px;
    margin-left: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 205px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -574px;
    margin-right: 25px;
    margin-left: 47px;
  }
}