 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/031.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-group-elements-1 {
  width: 442px;
  min-height: 302px;
  height: auto;
  margin: 147px auto 60px;
}

.u-section-1 .u-text-1 {
  line-height: 1.12;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0 174px;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 300px;
  margin: -301px auto 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 440px;
    min-height: 363px;
    margin: 102px -50px 49px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 218px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -354px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/114.gif");
  background-size: auto;
}

.u-section-2 .u-sheet-1 {
  min-height: 3844px;
}

.u-section-2 .u-image-1 {
  width: 190px;
  height: 190px;
  margin: 4px auto 0 188px;
}

.u-section-2 .u-text-1 {
  text-shadow: 0px 0px 10px rgba(128,128,128,1);
  margin: -167px auto 0;
}

.u-section-2 .u-image-2 {
  width: 500px;
  height: 474px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  width: 429px;
  height: 482px;
  margin: 72px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  width: 519px;
  height: 734px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 0 351px 0 313px;
}

.u-section-2 .u-image-5 {
  width: 547px;
  height: 678px;
  margin: 101px auto 0;
}

.u-section-2 .u-image-6 {
  width: 515px;
  height: 842px;
  margin: 26px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3170px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 82px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -747px;
    margin-left: 358px;
  }

  .u-section-2 .u-image-2 {
    width: 481px;
    height: 455px;
    margin-top: 954px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 51px;
    margin-left: 239px;
  }

  .u-section-2 .u-image-3 {
    width: 489px;
    height: 508px;
    margin-top: -904px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -399px;
    margin-right: 210px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-4 {
    width: 437px;
    height: 618px;
    margin-top: -606px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 224px;
    margin-right: 564px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-5 {
    width: 464px;
    height: 576px;
    margin-top: 229px;
    margin-right: 100px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 944px;
    margin-bottom: -131px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2428px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 225px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -174px;
    margin-left: 463px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 1524px;
    margin-left: 308px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 430px;
  }

  .u-section-2 .u-image-3 {
    width: 374px;
    height: 416px;
    margin-top: -2047px;
    margin-left: 360px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 174px;
    margin-right: 320px;
    margin-left: 470px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 338px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 366px;
    margin-left: 298px;
  }

  .u-section-2 .u-image-5 {
    width: 451px;
    height: 560px;
    margin-right: 226px;
    margin-left: 281px;
  }

  .u-section-2 .u-image-6 {
    margin-bottom: -1873px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1812px;
  }

  .u-section-2 .u-image-1 {
    width: 255px;
    height: 255px;
    margin-left: 250px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -167px;
    margin-right: 386px;
    margin-left: 555px;
  }

  .u-section-2 .u-image-2 {
    width: 413px;
    height: 390px;
    margin-top: 3568px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 250px;
  }

  .u-section-2 .u-image-3 {
    width: 301px;
    height: 327px;
    margin-top: -4022px;
    margin-left: 250px;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 300px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 334px;
    margin-left: 437px;
  }

  .u-section-2 .u-image-5 {
    width: 398px;
    height: 494px;
    margin-top: 161px;
    margin-right: 316px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-image-1 {
    width: 409px;
    height: 409px;
    margin-right: 53px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 725px;
    margin-left: 1003px;
  }

  .u-section-2 .u-image-2 {
    width: 445px;
    height: 421px;
    margin-top: 3784px;
    margin-right: 695px;
    margin-left: 750px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 897px;
  }

  .u-section-2 .u-image-3 {
    height: 489px;
    margin-top: -4321px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 897px;
  }

  .u-section-2 .u-image-4 {
    height: 621px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 350px;
    margin-left: 897px;
  }

  .u-section-2 .u-image-5 {
    height: 546px;
    margin-top: 243px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 556px;
    margin-top: 943px;
    margin-bottom: -1587px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/278.GIF");
  background-size: auto;
}

.u-section-3 .u-sheet-1 {
  min-height: 2709px;
}

.u-section-3 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 464px;
  min-height: 341px;
  height: auto;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 0 152px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 300px;
  margin: 12px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 226px;
  height: 300px;
  margin: -300px auto 0 0;
}

.u-section-3 .u-group-elements-2 {
  width: 531px;
  min-height: 415px;
  height: auto;
  margin: 21px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-image-3 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-3 .u-group-elements-3 {
  width: 531px;
  min-height: 427px;
  height: auto;
  margin: 58px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-image-4 {
  width: 226px;
  height: 312px;
  margin: 0 auto 0 27px;
}

.u-section-3 .u-image-5 {
  width: 218px;
  height: 312px;
  margin: -312px 48px 0 auto;
}

.u-section-3 .u-group-elements-4 {
  width: 531px;
  min-height: 534px;
  height: auto;
  margin: 152px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-image-6 {
  width: 258px;
  height: 390px;
  margin: 0 auto;
}

.u-section-3 .u-group-elements-5 {
  width: 580px;
  min-height: 500px;
  height: auto;
  margin: 124px auto 36px;
}

.u-section-3 .u-text-6 {
  width: 563px;
  margin: 0 0 0 17px;
}

.u-section-3 .u-image-7 {
  width: 225px;
  height: 300px;
  margin: 0 auto 0 169px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 27px 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 46px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-top: 114px;
    margin-left: 193px;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 45px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: 57px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2697px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-group-elements-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2971px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 457px;
    min-height: 338px;
    margin-top: 26px;
    margin-left: -50px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 340px;
    margin-top: 52px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 421px;
    min-height: 440px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 31px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-4 {
    width: 340px;
  }

  .u-section-3 .u-group-elements-5 {
    width: 423px;
    min-height: 502px;
    margin-top: 59px;
    margin-bottom: 36px;
    margin-left: -33px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    margin-left: 152px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 99px;
  }
}