 .u-section-1 {
  background-position: 0px 0px;
  background-repeat: repeat;
  background-image: url("images/031.gif");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 387px;
  margin: 112px auto 0 131px;
}

.u-section-1 .u-text-1 {
  line-height: 0.85;
  font-size: 1.125rem;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(110,0,255,1);
  margin: -372px 451px 60px 421px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 351px;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 92px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    margin: -368px 2px 56px 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 386px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -755px;
    margin-right: 25px;
    margin-left: 47px;
  }
}