 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/031.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 387px;
  margin: 170px auto 0 252px;
}

.u-section-1 .u-text-1 {
  line-height: 1.12;
  font-size: 1.125rem;
  font-style: italic;
  margin: -361px 330px 60px 542px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 230px;
    margin-left: 442px;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 173px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -354px;
    margin-right: 120px;
    margin-left: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-text-1 {
    margin: -368px 30px 56px 242px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 639px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 268px;
    margin: -762px auto 60px;
  }
}