 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/031.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 507px;
}

.u-section-1 .u-group-elements-1 {
  width: 442px;
  min-height: 301px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-text-1 {
  line-height: 1.12;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0 174px;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 300px;
  margin: -281px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 302px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -301px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 301px;
    margin-top: 120px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -281px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 507px;
    margin-top: 110px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 126px;
    height: 237px;
    margin-top: 28px;
    margin-left: 90px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/114.gif");
  background-size: auto;
}

.u-section-2 .u-sheet-1 {
  min-height: 271px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 59px auto 0 200px;
  padding: 10px 16px 10px 14px;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: -33px auto 0 416px;
  padding: 10px 16px 10px 14px;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: -35px 349px 0 auto;
  padding: 10px 16px 10px 14px;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: -32px 141px 0 auto;
  padding: 10px 16px 10px 14px;
}

.u-section-2 .u-btn-5 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 27px auto 0 200px;
  padding: 10px 16px 10px 14px;
}

.u-section-2 .u-btn-6 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: -34px 272px 0 auto;
  padding: 10px 16px 10px 14px;
}

.u-section-2 .u-btn-7 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 28px auto 59px 200px;
  padding: 10px 16px 10px 14px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 216px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 149px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 72px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 81px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 917px;
}

.u-section-3 .u-image-1 {
  width: 1138px;
  height: 917px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 757px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 580px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 435px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 274px;
  }
}