 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-group-elements-1 {
  width: 459px;
  min-height: 302px;
  height: auto;
  margin: 86px auto 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.12;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0 174px;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 300px;
  margin: -280px auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 324px;
  min-height: 249px;
  margin: 73px auto 60px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 10px 16px 10px 14px;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 4px;
  background-image: none;
  border-style: solid;
  line-height: 0.72;
  font-weight: 700;
  margin: 10px 0 0;
  padding: 10px 16px 10px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 516px;
    margin-top: 116px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 254px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 126px;
    height: 237px;
    margin-top: -516px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-2 {
    height: auto;
    margin-top: 29px;
    margin-bottom: 49px;
  }
}