 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/031.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 427px;
}

.u-section-1 .u-group-elements-1 {
  width: 442px;
  min-height: 302px;
  height: auto;
  margin: 98px auto 26px;
}

.u-section-1 .u-text-1 {
  line-height: 1.12;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0 174px;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 300px;
  margin: -301px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 440px;
    min-height: 363px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 218px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -354px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/114.gif");
  background-size: auto;
  min-height: 1857px;
}

.u-section-2 .u-image-1 {
  width: 446px;
  height: 446px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -94px);
}

.u-section-2 .u-text-1 {
  text-shadow: 0px 0px 10px rgba(128,128,128,1);
  margin: -420px auto 0 calc(((100% - 1140px) / 2)  + 396px);
}

.u-section-2 .u-image-2 {
  width: 371px;
  height: 351px;
  margin: 46px calc(((100% - 1140px) / 2)  + 260px) 0 auto;
}

.u-section-2 .u-image-3 {
  width: 310px;
  height: 349px;
  margin: -351px 0 0 auto;
}

.u-section-2 .u-image-4 {
  width: 559px;
  height: 694px;
  margin: -132px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 396px;
  height: 560px;
  margin: -560px calc(((100% - 1140px) / 2)  + 278px) 0 auto;
}

.u-section-2 .u-image-6 {
  width: 328px;
  height: 456px;
  margin: -560px 0 60px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 2412px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2)  + -118px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -301px;
    margin-right: 404px;
    margin-left: calc(((100% - 940px) / 2)  + 399px);
  }

  .u-section-2 .u-image-2 {
    width: 481px;
    height: 455px;
    margin-top: 65px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 489px;
    height: 508px;
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -859px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    width: 373px;
    height: 519px;
    margin-top: -403px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2163px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2)  + -110px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -427px;
    margin-right: 456px;
    margin-left: calc(((100% - 720px) / 2)  + 497px);
  }

  .u-section-2 .u-image-2 {
    margin-top: 187px;
  }

  .u-section-2 .u-image-3 {
    width: 374px;
    height: 416px;
    margin-top: -347px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 451px;
    height: 560px;
    margin-top: -69px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -8px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -1112px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1808px;
  }

  .u-section-2 .u-image-1 {
    width: 336px;
    height: 336px;
    margin-left: calc(((100% - 540px) / 2)  + -122px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -320px;
    margin-right: 197px;
    margin-left: calc(((100% - 540px) / 2)  + 244px);
  }

  .u-section-2 .u-image-2 {
    width: 413px;
    height: 390px;
    margin-top: 77px;
  }

  .u-section-2 .u-image-3 {
    width: 301px;
    height: 327px;
    margin-top: -327px;
  }

  .u-section-2 .u-image-4 {
    width: 398px;
    height: 494px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: 16px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -1070px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3112px;
  }

  .u-section-2 .u-image-1 {
    width: 409px;
    height: 409px;
    margin-top: -3px;
    margin-right: calc(((100% - 340px) / 2)  + -306px);
    margin-left: calc(((100% - 340px) / 2) + -122px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -333px;
    margin-right: 25px;
    margin-left: calc(((100% - 340px) / 2)  + 253px);
  }

  .u-section-2 .u-image-2 {
    width: 445px;
    height: 421px;
    margin-top: 800px;
    margin-right: calc(((100% - 340px) / 2)  + -55px);
  }

  .u-section-2 .u-image-3 {
    height: 489px;
    margin-top: 593px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 546px;
    margin-top: -2049px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 621px;
    margin-top: 392px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 611px;
    margin-top: 491px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}