 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/031.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-group-elements-1 {
  width: 442px;
  min-height: 302px;
  height: auto;
  margin: 147px auto 60px;
}

.u-section-1 .u-text-1 {
  line-height: 1.12;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 0 174px;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 300px;
  margin: -301px auto 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 440px;
    min-height: 363px;
    margin: 102px -50px 49px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 218px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -354px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/114.gif");
  background-size: auto;
}

.u-section-2 .u-sheet-1 {
  min-height: 3159px;
}

.u-section-2 .u-image-1 {
  width: 199px;
  height: 199px;
  margin: 0 auto 0 265px;
}

.u-section-2 .u-text-1 {
  text-shadow: 0px 0px 10px rgba(128,128,128,1);
  margin: -179px 444px 0 472px;
}

.u-section-2 .u-image-2 {
  width: 353px;
  height: 397px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  width: 396px;
  height: 560px;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  width: 476px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 475px auto 0;
}

.u-section-2 .u-image-4 {
  width: 434px;
  height: 411px;
  margin: -440px auto 0;
}

.u-section-2 .u-image-5 {
  width: 424px;
  height: 526px;
  margin: 93px auto 0;
}

.u-section-2 .u-image-6 {
  width: 392px;
  height: 640px;
  margin: 93px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2691px;
  }

  .u-section-2 .u-image-1 {
    margin-left: -18px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -166px;
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-2 .u-image-2 {
    width: 489px;
    height: 508px;
    margin-top: 549px;
    margin-right: -19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 160px;
  }

  .u-section-2 .u-image-3 {
    width: 437px;
    height: 618px;
    margin-top: -215px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 464px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -1087px;
    margin-left: 139px;
  }

  .u-section-2 .u-image-4 {
    width: 481px;
    height: 455px;
    margin-top: -484px;
    margin-left: 24px;
  }

  .u-section-2 .u-image-5 {
    width: 464px;
    height: 576px;
    margin-top: 736px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: -40px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3334px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -183px;
    margin-left: 253px;
  }

  .u-section-2 .u-image-2 {
    width: 374px;
    height: 416px;
    margin-top: 648px;
    margin-right: auto;
    margin-left: 150px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 260px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 67px;
    margin-left: 128px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 156px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1262px;
    margin-left: 220px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 98px;
  }

  .u-section-2 .u-image-5 {
    width: 451px;
    height: 560px;
    margin-top: 2044px;
    margin-right: auto;
    margin-left: 121px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -1273px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3310px;
  }

  .u-section-2 .u-image-1 {
    width: 255px;
    height: 255px;
    margin-top: 0;
    margin-left: -50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -212px;
    margin-right: 136px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 301px;
    height: 327px;
    margin-top: 107px;
    margin-left: -50px;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 92px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 6px;
    margin-right: 34px;
    margin-left: 137px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 479px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    width: 413px;
    height: 390px;
    margin-top: -415px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    width: 398px;
    height: 494px;
    margin-top: 129px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 50px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-image-1 {
    width: 409px;
    height: 409px;
    margin-right: 94px;
    margin-left: 278px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 431px;
    margin-right: 375px;
    margin-left: 653px;
  }

  .u-section-2 .u-image-2 {
    height: 489px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 547px;
  }

  .u-section-2 .u-image-3 {
    height: 621px;
    margin-top: 190px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 547px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1955px;
    margin-left: 547px;
  }

  .u-section-2 .u-image-4 {
    width: 445px;
    height: 421px;
    margin-top: -498px;
    margin-right: 345px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-5 {
    height: 546px;
    margin-top: 2249px;
    margin-bottom: -1665px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 555px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/278.GIF");
  background-size: auto;
}

.u-section-3 .u-sheet-1 {
  min-height: 2740px;
}

.u-section-3 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 464px;
  min-height: 341px;
  margin: 28px auto 0 332px;
}

.u-section-3 .u-text-2 {
  margin: 0 152px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 300px;
  margin: 12px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 226px;
  height: 300px;
  margin: -300px auto 0 0;
}

.u-section-3 .u-group-elements-2 {
  width: 531px;
  min-height: 415px;
  margin: 44px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-image-3 {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.u-section-3 .u-group-elements-3 {
  width: 531px;
  min-height: 427px;
  margin: 104px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-image-4 {
  width: 226px;
  height: 312px;
  margin: 0 auto 0 27px;
}

.u-section-3 .u-image-5 {
  width: 218px;
  height: 312px;
  margin: -312px 48px 0 auto;
}

.u-section-3 .u-group-elements-4 {
  width: 531px;
  min-height: 534px;
  margin: 119px auto 0 288px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-image-6 {
  width: 258px;
  height: 390px;
  margin: 0 auto;
}

.u-section-3 .u-group-elements-5 {
  width: 580px;
  min-height: 500px;
  margin: 55px auto 60px 272px;
}

.u-section-3 .u-text-6 {
  width: 563px;
  margin: 0 0 0 17px;
}

.u-section-3 .u-image-7 {
  width: 225px;
  height: 300px;
  margin: 0 auto 0 169px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 27px 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-3 .u-group-elements-1 {
    height: auto;
    margin-top: 46px;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-group-elements-4 {
    height: auto;
    margin-top: 114px;
    margin-left: 193px;
  }

  .u-section-3 .u-group-elements-5 {
    height: auto;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 45px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: 57px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2697px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-group-elements-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2971px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 457px;
    min-height: 338px;
    margin-top: 26px;
    margin-left: -50px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 340px;
    margin-top: 52px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 421px;
    min-height: 440px;
    height: auto;
    margin-left: -50px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 31px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-4 {
    width: 340px;
  }

  .u-section-3 .u-group-elements-5 {
    width: 423px;
    min-height: 502px;
    margin-top: 59px;
    margin-bottom: 60px;
    margin-left: -33px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    margin-left: 152px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 99px;
  }
}