 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: repeat;
  background-image: url("images/slt1.gif");
  background-size: auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-1 .u-image-1 {
  width: 433px;
  height: 300px;
  margin: 168px auto 0;
}

.u-section-1 .u-image-2 {
  width: 435px;
  height: 571px;
  margin: 72px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1031px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 236px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 446px;
  }
}