 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-image-1 {
  height: 739px;
  margin-top: 36px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 497px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 228px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 94px;
  }
}