 .u-section-1 {
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  min-height: 765px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Screenshot2025-05-26004812.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 0px 0px;
    min-height: 497px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 349px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 228px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 94px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }
}