 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/031.gif');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-text-1 {
  font-family: "Are You Serious";
  margin: 160px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 791px;
  height: 595px;
  margin: -70px -20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 542px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 256px;
  }
}