 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/033C.jpg');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 4801px;
}

.u-section-1 .u-image-1 {
  width: 762px;
  height: 508px;
  margin: 202px auto 0;
}

.u-section-1 .u-image-2 {
  width: 762px;
  height: 646px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-3 {
  width: 760px;
  height: 370px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-4 {
  width: 506px;
  height: 704px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-5 {
  width: 793px;
  height: 545px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-6 {
  width: 793px;
  height: 534px;
  margin: 101px auto 0 158px;
}

.u-section-1 .u-image-7 {
  width: 515px;
  height: 491px;
  margin: 101px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3959px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2857px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 610px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 351px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 495px;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 485px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2228px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 458px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 263px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 371px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 166px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 473px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 234px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 229px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 324px;
  }
}