 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/033C.jpg');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 3790px;
}

.u-section-1 .u-image-1 {
  width: 762px;
  height: 508px;
  margin: 73px auto 0;
}

.u-section-1 .u-image-2 {
  width: 762px;
  height: 646px;
  margin: 104px auto 0;
}

.u-section-1 .u-image-3 {
  width: 760px;
  height: 370px;
  margin: 31px auto 0;
}

.u-section-1 .u-image-4 {
  width: 473px;
  height: 665px;
  margin: 68px auto 0;
}

.u-section-1 .u-image-5 {
  width: 614px;
  height: 422px;
  margin: 104px auto 0;
}

.u-section-1 .u-image-6 {
  width: 793px;
  height: 534px;
  margin: 75px auto 60px 157px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3125px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3527px;
  }

  .u-section-1 .u-image-1 {
    height: 480px;
    margin-top: 146px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 610px;
    margin-top: 32px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 351px;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 485px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1730px;
  }

  .u-section-1 .u-image-1 {
    height: 360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 458px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 263px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 371px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 166px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 478px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 234px;
    margin-top: 729px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 229px;
    margin-top: -435px;
  }
}