 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/033C.jpg');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 5400px;
}

.u-section-1 .u-image-1 {
  width: 762px;
  height: 508px;
  margin: 203px auto 0;
}

.u-section-1 .u-image-2 {
  width: 762px;
  height: 646px;
  margin: 100px auto 0 50px;
}

.u-section-1 .u-image-3 {
  width: 316px;
  height: 516px;
  margin: -573px -3px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 760px;
  height: 370px;
  margin: 158px auto 0;
}

.u-section-1 .u-image-5 {
  width: 506px;
  height: 704px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-6 {
  width: 793px;
  height: 545px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-7 {
  width: 793px;
  height: 534px;
  margin: 101px auto 0 158px;
}

.u-section-1 .u-image-8 {
  width: 515px;
  height: 491px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-9 {
  width: 725px;
  height: 569px;
  margin: 101px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4453px;
  }

  .u-section-1 .u-image-3 {
    height: 515px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5741px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 84px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 351px;
    margin-top: 94px;
  }

  .u-section-1 .u-image-6 {
    width: 720px;
    height: 495px;
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 485px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    width: 720px;
    height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2479px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 458px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 263px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 371px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 364px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3582px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 166px;
    margin-top: -8px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 473px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 234px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 229px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 324px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 267px;
  }
}