 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/033C.jpg');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 6343px;
}

.u-section-1 .u-image-1 {
  width: 762px;
  height: 508px;
  margin: 186px auto 0;
}

.u-section-1 .u-image-2 {
  width: 762px;
  height: 646px;
  margin: 117px auto 0;
}

.u-section-1 .u-image-3 {
  width: 760px;
  height: 370px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-4 {
  width: 506px;
  height: 704px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-5 {
  width: 793px;
  height: 545px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-6 {
  width: 793px;
  height: 534px;
  margin: 101px auto 0 158px;
}

.u-section-1 .u-image-7 {
  width: 515px;
  height: 491px;
  margin: 116px auto 0;
}

.u-section-1 .u-image-8 {
  width: 725px;
  height: 569px;
  margin: 86px auto 0;
}

.u-section-1 .u-image-9 {
  width: 449px;
  height: 874px;
  margin: 101px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6901px;
  }

  .u-section-1 .u-image-2 {
    width: 611px;
    height: 518px;
    margin-top: 244px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 50px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 116px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -8px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 217px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 276px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6358px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 135px;
  }

  .u-section-1 .u-image-3 {
    height: 351px;
    margin-top: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 147px;
  }

  .u-section-1 .u-image-5 {
    height: 495px;
    margin-top: 107px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: 485px;
    margin-top: 147px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 135px;
  }

  .u-section-1 .u-image-8 {
    height: 565px;
    margin-top: 136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6596px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 458px;
  }

  .u-section-1 .u-image-6 {
    height: 364px;
    margin-top: 229px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    margin-top: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5503px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 421px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 473px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 751px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 324px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 662px;
  }
}