 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/033C.jpg');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 6344px;
}

.u-section-1 .u-image-1 {
  width: 762px;
  height: 508px;
  margin: 186px auto 0;
}

.u-section-1 .u-image-2 {
  width: 762px;
  height: 646px;
  margin: 117px auto 0 50px;
}

.u-section-1 .u-image-3 {
  width: 316px;
  height: 516px;
  margin: -573px -3px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 760px;
  height: 370px;
  margin: 158px auto 0;
}

.u-section-1 .u-image-5 {
  width: 506px;
  height: 704px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-6 {
  width: 793px;
  height: 545px;
  margin: 101px auto 0;
}

.u-section-1 .u-image-7 {
  width: 793px;
  height: 534px;
  margin: 101px auto 0 158px;
}

.u-section-1 .u-image-8 {
  width: 515px;
  height: 491px;
  margin: 116px auto 0;
}

.u-section-1 .u-image-9 {
  width: 725px;
  height: 569px;
  margin: 86px auto 0;
}

.u-section-1 .u-image-10 {
  width: 449px;
  height: 874px;
  margin: 101px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6901px;
  }

  .u-section-1 .u-image-2 {
    width: 611px;
    height: 518px;
    margin-top: 244px;
  }

  .u-section-1 .u-image-3 {
    width: 263px;
    height: 429px;
    margin-top: -422px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 43px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 116px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -8px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 217px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 276px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6879px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 84px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 351px;
    margin-top: 94px;
  }

  .u-section-1 .u-image-6 {
    height: 495px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-7 {
    width: 720px;
    height: 485px;
    margin-top: 62px;
  }

  .u-section-1 .u-image-9 {
    width: 720px;
    height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6596px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 458px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 263px;
  }

  .u-section-1 .u-image-7 {
    height: 364px;
    margin-top: 229px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 296px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3043px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 288px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 166px;
    margin-top: -8px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 473px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 324px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 267px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 662px;
  }
}