 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/603.GIF');
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 3118px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 257px;
  margin: 152px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 416px;
  height: 560px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -22px auto 0;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 225px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  width: 473px;
  height: 355px;
  margin: 79px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 9px auto 0;
}

.u-section-1 .u-image-6 {
  width: 266px;
  height: 300px;
  margin: 117px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 9px 342px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2571px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1969px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2895px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 243px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 213px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 120px;
  }

  .u-section-1 .u-text-6 {
    width: 258px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2685px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 153px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 458px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 80px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 134px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 55px;
  }
}