.u-section-1 .u-sheet-1 {
  min-height: 1437px;
}

.u-section-1 .u-text-1 {
  width: 620px;
  margin: 136px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: -751px auto 0 456px;
  padding: 10px 13px 10px 11px;
}

.u-section-1 .u-image-1 {
  width: 93px;
  height: 124px;
  margin: -296px 93px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 876px;
}

.u-section-2 .u-text-1 {
  width: 600px;
  margin: 41px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 174px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 110px;
    width: 340px;
  }
}