 .u-section-1 {
  background-position: 50% 50%, 0px 0px;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-image-1 {
  width: 791px;
  height: 595px;
  margin: 170px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 542px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
    margin-top: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 256px;
    margin-top: 70px;
  }
}